networks:
  default:

services:
  postgres:
    image: postgres:latest
    expose:
      - "5432"
    volumes:
      - .:/docker-entrypoint-initdb.d
    env_file:
      - .env
    networks:
      - default
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      start_period: 5s
      start_interval: 1s
      interval: 5s
      timeout: 5s
      retries: 3

  app:
    build: .
    ports:
      - "8000:80"
    env_file:
      - ".env"
    networks:
      - default
    depends_on:
      postgres:
        condition: "service_healthy"
    stdin_open: true
    tty: true